# IPL DATA ANALYSIS

In [ ]:
import pandas as pd

In [2]:
import pandas as pd

## Loading the Datasets

In [4]:
df1 = pd.read_csv("IPL Ball-by-Ball 2008-2020.csv")

In [5]:
df2 = pd.read_csv("IPL Matches 2008-2020.csv")

### Analysing the datasets

In [6]:
df1

,id,inning,over,ball,batsman,non_striker,bowler,batsman_runs,extra_runs,total_runs,non_boundary,is_wicket,dismissal_kind,player_dismissed,fielder,extras_type,batting_team,bowling_team
0,335982,1,6,5,RT Ponting,BB McCullum,AA Noffke,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
1,335982,1,6,6,BB McCullum,RT Ponting,AA Noffke,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
2,335982,1,7,1,BB McCullum,RT Ponting,Z Khan,0,0,0,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
3,335982,1,7,2,BB McCullum,RT Ponting,Z Khan,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
4,335982,1,7,3,RT Ponting,BB McCullum,Z Khan,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193463,1237181,1,12,5,RR Pant,SS Iyer,NM Coulter-Nile,0,0,0,0,0,NaN,NaN,NaN,NaN,Delhi Capitals,Mumbai Indians
193464,1237181,1,12,6,RR Pant,SS Iyer,NM Coulter-Nile,1,0,1,0,0,NaN,NaN,NaN,NaN,Delhi Capitals,Mumbai Indians
193465,1237181,1,13,1,RR Pant,SS Iyer,KH Pandya,0,1,1,0,0,NaN,NaN,NaN,wides,Delhi Capitals,Mumbai Indians
193466,1237181,1,13,2,RR Pant,SS Iyer,KH Pandya,1,0,1,0,0,NaN,NaN,NaN,NaN,Delhi Capitals,Mumbai Indians
193467,1237181,1,13,3,SS Iyer,RR Pant,KH Pandya,1,0,1,0,0,NaN,NaN,NaN,NaN,Delhi Capitals,Mumbai Indians

In [7]:
df2

,id,city,date,player_of_match,venue,neutral_venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,eliminator,method,umpire1,umpire2
0,335982,Bangalore,2008-04-18,BB McCullum,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,N,NaN,Asad Rauf,RE Koertzen
1,335983,Chandigarh,2008-04-19,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",0,Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,N,NaN,MR Benson,SL Shastri
2,335984,Delhi,2008-04-19,MF Maharoof,Feroz Shah Kotla,0,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,bat,Delhi Daredevils,wickets,9.0,N,NaN,Aleem Dar,GA Pratapkumar
3,335985,Mumbai,2008-04-20,MV Boucher,Wankhede Stadium,0,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,wickets,5.0,N,NaN,SJ Davis,DJ Harper
4,335986,Kolkata,2008-04-20,DJ Hussey,Eden Gardens,0,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,bat,Kolkata Knight Riders,wickets,5.0,N,NaN,BF Bowden,K Hariharan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
811,1216547,Dubai,2020-09-28,AB de Villiers,Dubai International Cricket Stadium,0,Royal Challengers Bangalore,Mumbai Indians,Mumbai Indians,field,Royal Challengers Bangalore,tie,NaN,Y,NaN,Nitin Menon,PR Reiffel
812,1237177,Dubai,2020-11-05,JJ Bumrah,Dubai International Cricket Stadium,0,Mumbai Indians,Delhi Capitals,Delhi Capitals,field,Mumbai Indians,runs,57.0,N,NaN,CB Gaffaney,Nitin Menon
813,1237178,Abu Dhabi,2020-11-06,KS Williamson,Sheikh Zayed Stadium,0,Royal Challengers Bangalore,Sunrisers Hyderabad,Sunrisers Hyderabad,field,Sunrisers Hyderabad,wickets,6.0,N,NaN,PR Reiffel,S Ravi
814,1237180,Abu Dhabi,2020-11-08,MP Stoinis,Sheikh Zayed Stadium,0,Delhi Capitals,Sunrisers Hyderabad,Delhi Capitals,bat,Delhi Capitals,runs,17.0,N,NaN,PR Reiffel,S Ravi
815,1237181,Dubai,2020-11-10,TA Boult,Dubai International Cricket Stadium,0,Delhi Capitals,Mumbai Indians,Delhi Capitals,bat,Mumbai Indians,wickets,5.0,N,NaN,CB Gaffaney,Nitin Menon

In [11]:
df1.shape

(193468, 18)

In [10]:
df2.shape

(816, 17)

In [15]:
df1.isnull().sum().sum()

738056

In [17]:
df2.isnull().sum()

id                   0
city                13
date                 0
player_of_match      4
venue                0
neutral_venue        0
team1                0
team2                0
toss_winner          0
toss_decision        0
winner               4
result               4
result_margin       17
eliminator           4
method             797
umpire1              0
umpire2              0
dtype: int64

In [18]:
df1.describe()

,id,inning,over,ball,batsman_runs,extra_runs,total_runs,non_boundary,is_wicket
count,1.934680e+05,193468.000000,193468.000000,193468.000000,193468.000000,193468.000000,193468.000000,193468.000000,193468.000000
mean,7.567688e+05,1.482131,9.177027,3.615967,1.240231,0.066414,1.306645,0.000083,0.049078
std,3.060971e+05,0.499682,5.676848,1.807128,1.610867,0.339991,1.598802,0.009094,0.216031
min,3.359820e+05,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,5.012270e+05,1.000000,4.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,7.292970e+05,1.000000,9.000000,4.000000,1.000000,0.000000,1.000000,0.000000,0.000000
75%,1.082628e+06,2.000000,14.000000,5.000000,1.000000,0.000000,1.000000,0.000000,0.000000
max,1.237181e+06,2.000000,19.000000,9.000000,6.000000,7.000000,7.000000,1.000000,1.000000

In [19]:
df2.describe()

                 id  neutral_venue  result_margin
count  8.160000e+02     816.000000     799.000000
mean   7.563496e+05       0.094363      17.321652
std    3.058943e+05       0.292512      22.068427
min    3.359820e+05       0.000000       1.000000
25%    5.012278e+05       0.000000       6.000000
50%    7.292980e+05       0.000000       8.000000
75%    1.082626e+06       0.000000      19.500000
max    1.237181e+06       1.000000     146.000000

## Set of Tasks Given:
Task 1: Total number of matches played

Task 2: Total number of runs scored

Task 3: Average runs scored per match

Task 4: Umpire with the highest number of matches officiated

Task 5: Team with the most toss wins

Task 6: Most frequent decision after winning the toss

Task 7: Most common match result

Task 8: Team with most matches played

Task 9: Team with most wins

Task 10: Team with the highest win percentage

Task 11: Venue where RCB won most matches

Task 12: Most frequent dismissal type for "V Kohli"

Task 13: Highest total score in an inning

Task 14: Batsman with most balls played

Task 15: Highest run-scorer

Task 16: Batsman with most 4s

Task 17: Batsman with most 6s

Task 18: Bowler with most wickets

Task 19: Stadium with most matches

Task 20: Most "Man of the Match" awards

### Task 1: Total number of matches played

In [135]:
df2[['city']].sum
total_matches= df2.shape[0]
print(total_matches)

816

### Task 2: Total number of runs scored

In [136]:
total_runs= df1['total_runs'].sum()
print(total_runs)

252794

### Task 3: Average runs scored per match

In [137]:
average_runs = total_runs / total_matches
print(average_runs.round())

310.0

### Task 4: Umpire with the highest number of matches officiated

In [140]:
umpires.describe()

count       1632
unique        56
top       S Ravi
freq         121
dtype: object

In [138]:
umpires = pd.concat([df2['umpire1'], df2['umpire2']])
umpire_counts = umpires.value_counts()  # Count occurrences
top_umpire = umpire_counts.idxmax() 
print(top_umpire)

S Ravi

### Task 5: Team with the most toss wins

In [141]:
toss_wins = df2['toss_winner'].value_counts()
#toss_wins
top_team = toss_wins.idxmax()
print(top_team)

Mumbai Indians

### Task 6: Most frequent decision after winning the toss

In [143]:
toss_decision = df2['toss_decision'].value_counts()
toss_decision
top_decision = toss_decision.idxmax()
print(top_decision)

field

### Task 7: Most common match result

In [66]:
commom_result = df2['result'].value_counts()

most_commom = commom_result.idxmax()
print(most_commom)

wickets

### Task 8: Team with most matches played

In [146]:
Teams = pd.concat([df2['team1'], df2['team2']])
Team_count = Teams.value_counts()  # Count occurrences
Top_team = Team_count.idxmax() 
print(Top_team)

Mumbai Indians

### Task 9: Team with most wins

In [149]:
most_wins

winner
Mumbai Indians                 120
Chennai Super Kings            106
Kolkata Knight Riders           99
Royal Challengers Bangalore     91
Kings XI Punjab                 88
Rajasthan Royals                81
Delhi Daredevils                67
Sunrisers Hyderabad             66
Deccan Chargers                 29
Delhi Capitals                  19
Gujarat Lions                   13
Pune Warriors                   12
Rising Pune Supergiant          10
Kochi Tuskers Kerala             6
Rising Pune Supergiants          5
Name: count, dtype: int64

In [145]:
most_wins = df2['winner'].value_counts()
most_wins_top = most_wins.idxmax()
print(most_wins_top)

Mumbai Indians

### Task 10: Team with the highest win percentage

In [148]:

matches_played = df2['team1'].value_counts() + df2['team2'].value_counts()
# print(matches_played)

matches_won = df2['winner'].value_counts()
# print(matches_won)

win_percentage = (matches_won / matches_played) * 100
# print(win_percentage)


top_team = win_percentage.idxmax()

print(top_team)

Rising Pune Supergiant

### Task 11: Venue where RCB won most matches

In [92]:

rcb_wins = df2[df2['winner'] == 'Royal Challengers Bangalore']
rcb_wins

venue_counts = rcb_wins['venue'].value_counts()
venue_counts
top_venue = venue_counts.idxmax()
print(top_venue)

M Chinnaswamy Stadium

### Task 12: Most frequent dismissal type for "V Kohli"

In [151]:
v_kohli_balls = df1[df1['batsman'] == 'V Kohli']
dismisal_count=v_kohli_balls['dismissal_kind'].value_counts()
max_dismisal_type= dismisal_count.idxmax()
print(max_dismisal_type)

caught

### Task 13: Highest total score in an inning

In [152]:
highest_inning_score = df1.groupby(['id', 'inning'])['total_runs'].sum().max()
print(highest_inning_score)

263

### Task 14: Batsman with most balls played

In [153]:
most_played = df1['batsman'].value_counts()
most_no_played=most_played.idxmax()
print(most_no_played)

V Kohli

### Task 15: Highest run-scorer

In [154]:
highest_scorer = df1.groupby('batsman')['batsman_runs'].sum().idxmax()
highest_scorer

'V Kohli'

### Task 16: Batsman with most 4s

In [155]:
runs4only = df1[df1['batsman_runs']==4]
highest_scorer = df1.groupby('batsman')['batsman_runs'].sum().idxmax()
highest_scorer

'V Kohli'

### Task 17: Batsman with most 6s

In [157]:
runs6only = df1[df1['batsman_runs']==6]
highest_scorer6 = runs6only.groupby('batsman')['batsman_runs'].sum().idxmax()
highest_scorer6

'CH Gayle'

### Task 18: Bowler with most wickets

In [158]:
is_wic= df1[df1['is_wicket']==1]
wic_bowlers = is_wic['bowler'].value_counts()

hightest_wic= wic_bowlers.idxmax()
print(hightest_wic)

SL Malinga

### Task 19: Stadium with most matches

In [159]:
max_venue_count = df2['venue'].value_counts()
max_venue = max_venue_count.idxmax()
print(max_venue)

Eden Gardens

### Task 20: Most "Man of the Match" awards

In [160]:
max_ptm_count = df2['player_of_match'].value_counts()
max_ptm = max_ptm_count.idxmax()
print(max_ptm)

AB de Villiers